mixin list(name = 'list', num = 1)
  div(class=name)
    - for(let i = 0; i < num; i++)
      div(class=name + '__item')
        block

mixin ul-list(name = 'list', num = 1)
  ul(class=name)
    - for(let i = 0; i < num; i++)
      li(class=name + '__item')
        block

mixin ol-list(name = 'list', num = 1)
  ol(class=name)
    - for(let i = 0; i < num; i++)
      li(class=name + '__item')
        block
