include ../modules/head/head
include ../modules/card/card
include ../modules/form/form
include ../modules/widgets/widgets
include ../modules/header/header
include ../modules/footer/footer
include ../modules/list/list
include ../modules/section/section
include ../modules/modal/modal
include ../modules/swiper/swiper

doctype html
html(lang="vi")
  +head(head)
  body
    .page
      // header
      +header

      .page__content

        // main content
        block content

      // footer
      +footer

      // modals + sticky widgets

    // javascript library
    +script(head)
