mixin menu(menu)
  ul.menu.menu-root
    each item in menu
      li.menu-item(class=item.submenu?'menu-item-group':'')
        a.menu-link(href=item.url, class=item.active?'active':'')= item.text
        if (item.submenu)
          span.menu-toggle
            span
              i.fa.fa-angle-right
          ul.menu.menu-sub
            each sub in item.submenu
              li.menu-item(class=sub.submenu?'menu-item-group':'')
                a.menu-link(href=sub.url)= sub.text
                if (sub.submenu)
                  span.menu-toggle
                    span
                      i.fa.fa-angle-right
                  ul.menu.menu-sub.menu-sub-2
                    each sub2 in sub.submenu
                      li.menu-item
                        a.menu-link(href=sub2.url)= sub2.text

mixin h-menu
  .h-menu
    .h-menu__content
      .h-menu__btn
        span DANH MỤC SẢN PHẨM
        i.fa.fa-caret-down.ml-2
      .h-menu__float
        +menu-2
    .h-menu__backdrop

mixin menu-2
  ul.menu.menu-down
    each item in ["Đồ gia dụng","Công cụ & dụng cụ","Y tế & sức khoẻ","Đồ gia dụng","Công cụ & dụng cụ","Y tế & sức khoẻ","Đồ gia dụng","Công cụ & dụng cụ","Y tế & sức khoẻ","Đồ gia dụng","Công cụ & dụng cụ","Y tế & sức khoẻ"]
      li.menu-item.menu-item-group
        a.menu-link(href="#!")
          img(src="./images/icon-menu.png", alt="")
          span= item
        span.menu-toggle
          span
            i.fa.fa-angle-right
        .menu-mega
          img.menu-mega-bg(src="https://meta.vn/themes/meta.vn/images/bg-thiet-bi-so.png", alt="")
          ul.menu.menu-sub.menu-sub-1
            each sub in ["Đồ gia dụng","Công cụ & dụng cụ","Y tế & sức khoẻ","Thể thao & ngoài trời","Điện máy - Điện lạnh"]
              li.menu-item.menu-item-group
                a.menu-link(href="#!")= sub
                span.menu-toggle
                  span
                    i.fa.fa-angle-right
                ul.menu.menu-sub.menu-sub-2
                  each sub2 in ["Đồ gia dụng","Công cụ & dụng cụ","Y tế & sức khoẻ","Thể thao & ngoài trời","Điện máy - Điện lạnh"]
                    li.menu-item
                      a.menu-link(href="#!")= sub2
