mixin navbar
  section.navbar.js-navbar
    .navbar__backdrop.js-navbar-close
    .navbar__wrapper
      .navbar__header
        .navbar__title Navigation
        button.navbar__close.js-navbar-close
      .navbar__body
        block
