mixin img(type = 'any', w = 600, h = 400, addClass='')
  - i = Math.floor(Math.random() * 89 + 10)
  if (type === 'avatar')
    img(src=`https://i.pravatar.cc/${w + i}`, alt="", class = addClass)
  else
    img(src=`https://placeimg.com/${w + i}/${h + i}/${type}`, alt="", class = addClass)

mixin pagination
  ul.pagination
    li.page-item.disabled
      a.page-link(href="#!")
        i.fa.fa-angle-double-left
    li.page-item.active
      a.page-link(href="#!") 1
    li.page-item
      a.page-link(href="#!") 2
    li.page-item
      a.page-link(href="#!") 3
    li.page-item
      a.page-link(href="#!")
        i.fa.fa-angle-double-right

mixin breadcrumb(...list)
  - var lastItem = list.pop()
  ol.breadcrumb
    each item in list
      li.breadcrumb-item
        a.link-unstyled(href="#!")= item
    li.breadcrumb-item.active= lastItem

mixin facebook-comments(addClass='')
  .facebook-comments(class=addClass)
    // put right after body opening tag
    #fb-root
    script(async, defer, crossorigin="anonymous", src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=599359267157821&autoLogAppEvents=1")

    // put this place
    .fb-comments(data-href="https://developers.facebook.com/docs/plugins/comments#configurator", data-width="100%", data-numposts="5")

mixin btn-movetop
  button.btn.btn-movetop
    i.fa.fa-arrow-up

mixin phone-ring
  a.phone-ring(href="#!")
    span.phone-ring__icon
      i.fa.fa-phone
    span.phone-ring__text 0123.456.789
