mixin md-video
  .md-video.modal.fade(tabindex='-1')
    .modal-dialog.modal-lg
      .modal-content
        .modal-body.md-video__body
          button.md-video__close(data-dismiss='modal')
          .embed-responsive.embed-responsive-16by9
            <iframe src='' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>

mixin md-search
  article#md-search.modal.fade(role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title Tìm kiếm
          button.close(type='button', data-dismiss='modal')
            span &times;
        .modal-body
          form(action="#!")
            .input-group
              input.form-control(type="text", placeholder="Nhập từ khoá tìm kiếm...")
              span.input-group-append
                button.input-group-text(type="submit")
                  i.fa.fa-search
        .modal-footer
          button.btn.btn-sm.btn-secondary(data-dismiss='modal') Đóng
