.header {
  position: relative;
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative;
  }

  &__logo {
    display: inline-flex;
    margin-right: auto;

    img {
      height: 50px;
    }
  }

  @media (min-width: 1200px) {
    &__btn {
      display: none;
    }
  }
}
