include ../navbar/navbar
include ../menu/menu

mixin header
  header.header
    .header__wrapper
      .container
        .header__inner
          a.header__logo(href="./index.html")
            img(src="./images/logo.png", alt="")
          button.header__btn.btn.btn-default.js-navbar-open
            i.fa.fa-bars

    nav.navigation
      .container
        .navigation__inner
          +navbar
            //- +h-menu
            //- +menu(menu)
